.sigmar-one-regular {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 48px; 
  color: #333;
  text-align: center;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: lavender;
  padding: 20px;
  text-align: center;
}

body {
  background-image: url("zelenapozadina.jpg");
}

span {
  font-family: Calibri;
  text-decoration: underline;
  color: green;
  font-weight: bold;
  font-style: italic;
}

h2,h3 {
  font-family: 'Playfair Display', serif;
  display: block; 
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

div {
  display: none;
}

ol, ul {
  width: fit-content;
  margin: 10px auto 30px;
  padding: 15px 30px;
  background-color: white;
  box-shadow: lightgray;
  list-style-position: inside;
}

.float-emoji {
  float: right;          
  font-size: 40px;        
  margin: 0 0 10px 15px;  
  line-height: 1;
}



table {
  width: 360px;
  margin: 20px auto;

  border-collapse: collapse; 
  background-color: white;   
  border: 2px solid #7ca37f; 
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #7ca37f;
  padding: 12px;
  text-align: center;
  background-color: white;
}


thead tr:first-child th {
  background-color: #e3f1e4;
  font-weight: bold;
  font-size: 18px;
}

tbody tr:nth-child(even) {
  background-color: #f8fff8;
}


.d1 {
    background:orange;
	top.0px;
}
.d2 {
    background:purple;
	left:0px;
    bottom:0px;
}
.d3 {
    background:purple;
    right:0px;
}
.d4 {
    background:orange;
    right:0px;
    bottom:0px;
}
.d1, .d2, .d3, .d4 {
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
	vertical-align: middle;   
    margin: 5px;             
    clear: both;   
	float: left;   
}


iframe { 
    display: block;
    margin: 20px auto;
    width: 800px;      
    height: 600px;     
    border: 1px solid gray;
    border-radius: 10px;
	
}

li
{
	border-radius:5px;
	background:lightblue; 
	padding:5px;
	margin:4px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	width:300px;
	box-sizing:border-box;}
	
}


a{
	text-decoration:none; 
	color:white;
	margin:5px;}
ol {
	list-style:none;}



@media (max-width: 800px) {
    .blok {
        width: 90%;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    iframe {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 22px;
    }

    img {
        max-width: 300px;
    }
}